:root {
  --center: center;
}
.App {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: var(--center);
  align-items: var(--center);
}
.flex_block {
  display: flex;
}

.content {
  background: blue;
  width: 700px;
}
.main-content {
  background: yellow;
  padding: 20px;
  width: 68%;
}
.text-center{
  text-align: center;
}
.button{
  border: 1px solid #948e8e;
  padding: 7px;
  background-color: #4b5cd4;
  cursor: pointer;
  color: #fbf8f8;
  border-radius: 5px;
}
