.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

}
.dialog{
  color: blue;
}
.dialogsItem {
  padding: 10px;
  color: white;
}
.messages {
  padding: 10px;
}
.dialogsItems .active{
    color: red;
}
.messages .message {
  color: white;
}